<%= form_with(model: qualification, data: { turbo: false }) do |f| %>
  <table>
    <thead>
      <tr>
        <th style="width:10em;"><%= I18n.t('labels.item') %></th>
        <th><%= I18n.t('labels.value') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= f.label :name_ja, Qualification.human_attribute_name(:name_ja) %></th>
        <td><%= f.text_field :name_ja, class: 'text_field' %></td>
      </tr>
      <tr>
        <th><%= f.label :name_en, Qualification.human_attribute_name(:name_en) %></th>
        <td><%= f.text_field :name_en, class: 'text_field' %></td>
      </tr>
      <tr>
        <th><%= f.label :classification, Qualification.human_attribute_name(:classification) %></th>
        <td><%= f.select :classification, Qualification.classifications.keys.map { |c| [Qualification.human_attribute_name("classification.#{c}"), c] } %></td>
      </tr>
      <tr>
        <th><%= f.label :category_id, Qualification.human_attribute_name(:category_id) %></th>
        <td><%= f.select :category_id, Category.all.map { |c| [c.name_ja, c.id]}, selected: @qualification.category_id %></td>
      </tr>
      <tr>
        <th><%= f.label :classification, Qualification.human_attribute_name(:description) %></th>
        <td><%= f.text_area :description, class: 'text_area' %></td>
      </tr>
    </tbody>
  </table>
  <div style="width: 80%;text-align:right;">
    <%= f.submit I18n.t('labels.save'), class: 'submit_button' %>
  </div>
<% end %>
