<div class="contents">
  <h1><%= @qualification.name_ja %></h1>
  <%= link_to I18n.t('labels.index'), qualifications_path %>
  <table style="width">
    <thead>
      <tr>
        <th style="width: 10em;"><%= I18n.t('labels.item') %></th>
        <th><%= I18n.t('labels.value') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th><%= Qualification.human_attribute_name(:name_ja) %></th>
          <td><%= @qualification.name_ja %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:name_en) %></th>
          <td><%= @qualification.name_en %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:classification) %></th>
          <td><%= Qualification.human_attribute_name("classification.#{@qualification.classification}") %></td>
      </tr>
      <tr>
          <th><%= Category.model_name.human %></th>
          <td><%= @qualification.category&.name_ja %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:description) %></th>
          <td><%= safe_join((@qualification.description || '').split("\n"), tag(:br)) %></td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 1em;">
    <div style="float:left; width: 50%;">
      <%= link_to I18n.t('labels.index'), qualifications_path %>
    </div>
    <div style="float:left;">
      <%= button_to I18n.t('labels.edit'), edit_qualification_path(@qualification), { method: :get, class: 'submit_button' } %>
    </div>
    <div style="float:left; margin-left: 1em;">
      <%= button_to I18n.t('labels.destroy'), qualification_path(@qualification), { method: :delete, data: { turbo_confirm: '削除してよろしいですか'}, class: 'submit_button' } %>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div>
    <h2><%= Grade.model_name.human %></h2>
    <%= link_to 'グレード作成', new_qualification_grade_path(@qualification) %>
    <% if @grades.present? %>  
      <table>
        <thead>
          <tr>
            <th style="width: 5em;"><%= Grade.human_attribute_name(:grade_name) %></th>
            <th><%= Grade.human_attribute_name(:description) %></th>
            <th style="width: 6em;"><%= Certificater.model_name.human %></th>
            <th style-"width: 8em;"><%= Examiner.model_name.human %></th>
            <th style="width: 3em;"><%= I18n.t('labels.edit') %></th>
            <th style="width: 3em;"><%= I18n.t('labels.destroy') %></th>
          </tr>
        </thead>
        <tbody>
          <% @grades.each do |g| %>
            <tr class="<%= cycle('even', 'odd') %>">
              <td><%= g.grade_name %></td>
              <td><%= g.description %></td>
              <td><%= g.certificater&.name_ja %></td>
              <td>
                <% if g.examiner.url.present? %>
                  <%= link_to g.examiner&.name, g.examiner.url, target: '_blank' %>
                <% else %>
                  <%= g.examiner&.name %>
                <% end %>
              </td>
              <td>
              <%= button_to I18n.t('labels.edit'), edit_qualification_grade_path(@qualification, g), { method: :get } %>
              </td>
              <td>
                <%= button_to I18n.t('labels.destroy'), qualification_grade_path(@qualification, g), { method: :delete, data: { turbo_confirm: '削除してよろしいですか'} } %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>
    <% end %>
  </div>
</div>
