<div class="contents">
  <%= link_to I18n.t('labels.index'), qualifications_path %>
  <table>
    <thead>
      <tr>
        <th style="width: 10em;"><%= I18n.t('labels.item') %></th>
        <th><%= I18n.t('labels.value') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th><%= Qualification.human_attribute_name(:name_ja) %></th>
          <td><%= @qualification.name_ja %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:name_en) %></th>
          <td><%= @qualification.name_en %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:classification) %></th>
          <td><%= Qualification.human_attribute_name("classification.#{@qualification.classification}") %></td>
      </tr>
      <tr>
          <th><%= Category.model_name.human %></th>
          <td><%= @qualification.category&.name_ja %></td>
      </tr>
      <tr>
          <th><%= Qualification.human_attribute_name(:description) %></th>
          <td><%= safe_join((@qualification.description || '').split("\n"), tag(:br)) %></td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 1em;">
    <div style="float:left; width: 50%;">
      <%= link_to I18n.t('labels.index'), qualifications_path %>
    </div>
    <div style="float:left;">
      <%= button_to I18n.t('labels.edit'), edit_qualification_path(@qualification), { method: :get, class: 'submit_button' } %>
    </div>
    <div style="float:left; margin-left: 1em;">
      <%= button_to I18n.t('labels.destroy'), qualification_path(@qualification), { method: :delete, data: { turbo_confirm: '削除してよろしいですか'}, class: 'submit_button' } %>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
