<%= form_with(model: category, data: { turbo: false }) do |f| %>
  <table>
    <thead>
      <tr>
        <th style="width:10em;"><%= I18n.t('labels.item') %></th>
        <th><%= I18n.t('labels.value') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= f.label :name_ja %></th>
        <td><%= f.text_field :name_ja, class: 'text_field' %></td>
      </tr>
      <tr>
        <th><%= f.label :name_en %></th>
        <td><%= f.text_field :name_en, class: 'text_field' %></td>
      </tr>
    </tbody>
  </table>
  <div style="width: 80%;text-align:right;">
    <%= f.submit I18n.t('labels.save'), class: 'submit_button' %>
  </div>
<% end %>
